<table>
  <tr>
    <td rowspan="2">
      <%begin%>
        <%=image_tag product.image, size:"200"%>
        <% rescue => e %>
      <% end %>
    </td>
    <td>
      <h3><%=product.title%></h3>
      <h4 style="display:inline"> Price: &#8377 <%=product.price%> </h4>
    </td>
  </tr>
  <tr>
    <td>
      <% if product.quantity == 0 %>
        <p style="color:red">Out Of Stock
          <p>
          <%end%>
        </td>
      </tr>
    </table>
