<h3 style="display:inline; margin-right:50px;"><%=product.title%></h3> <h4 style="display:inline"> Price: &#8377 <%=product.price%> </h4>
  <% if product.quantity == 0 %>
    <p style="color:red">Out Of Stock<p>
  <%end%>
  <!-- TODO update link path correctly--> 
  <%= button_to "Add to Cart", new_user_session_path, method: :get %>
  <%= button_to "Buy Now", new_user_session_path, method: :get %>